{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Login Form | CodingLab</title> -->
    <link rel="stylesheet" href="{% static 'css/loginform.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="landing">
      <div class="container">
          <div class="my-divs">
              <div class="logo">
                  <h3>مرحبا بكم فى</h3>
                  <img src="{% static 'images/logo.png' %}" alt="logo">
                  <h4>بوابة تحكم سكك حديد مصر</h4>
              </div>
              <div class="my-form">
                <h2>تسجيل دخول عامل التحويلة </h2>
                  <form action="" method="post">
                      {% csrf_token %}
                    <label for="">الرقم القومى</label>
                    <input type="text" name="username">
                    <label for="">كلمة المرور</label>
                    <input type="password" name="password">
                    <button>تسجيل الدخول</button>
                      {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
              </form>
				  </div>


			</div>
            </div>
          </div>
      </div>
  </div>
  </body>
</html>
